body {
    background-color: var(--fond);
}

p {
    font-family: var(--linear);
    font-size: var(--s);
    line-height: 145%;
}

h1 {
    font-family: var(--linear);
    font-size: var(--l);
    font-style: medium;
    color: var(--noir);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: var(--linear);
    font-size: var(--m);
    margin-bottom: 10px;
}

a {
    color: var(--noir);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
