body {
    background-color: var(--fond);
}

p {
    font-family: var(--linear);
    font-size: var(--s);
    line-height: 145%;
}

h1 {
    font-family: var(--linear);
    font-size: var(--l);
    font-style: medium;
    color: var(--noir);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: var(--linear);
    font-size: var(--m);
    margin-bottom: 10px;
}

a {
    color: var(--noir);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* page d'accueil */
.main {
    background-color: var(--fond);
    padding: 0 20px;
    padding-top: 110px;
}

.main__langue {
    display: flex;
    margin: 0 0 0 290px;
}

.main__article {
    padding-top: 30px;
    border-top: 1px solid var(--noir);
    
}

.article__span1 {
    margin: 0;
    padding-right: 10px;
    display: inline;
    margin-left: 55px;
    color: var(--bleu-clair);
    font-family: var(--linear);
    font-size: var(--s)
}

.article__span2 {
    margin: 0;
    padding-right: 10px;
    display: inline;
    margin-left: 105px;
    color: var(--bleu-clair);
    font-family: var(--linear);
    font-size: var(--s)
}

.article__span3 {
    margin: 0;
    padding-right: 10px;
    display: inline;
    margin-left: 82px;
    color: var(--bleu-clair);
    font-family: var(--linear);
    font-size: var(--s)
}

.article__span4 {
    margin: 0;
    padding-right: 10px;
    display: inline;
    margin-left: 20px;
    color: var(--bleu-clair);
    font-family: var(--linear);
    font-size: var(--s)
}

.article__span5 {
    margin: 0;
    padding-right: 10px;
    display: inline;
    margin-left: 80px;
    color: var(--bleu-clair);
    font-family: var(--linear);
    font-size: var(--s)
}

.article__span6 {
    margin: 0;
    padding-right: 10px;
    display: inline;
    margin-left: 105px;
    color: var(--bleu-clair);
    font-family: var(--linear);
    font-size: var(--s)
}

.main__article6 {
    padding-top: 30px;
    border-top: 1px solid var(--noir);
    margin-bottom: 50px;
}

.article__p {
    margin-top: 10px;
}

.article__q {
    font-size: var(--s);
    font-style: italic;
    margin: 30px 30px;
    color: var(--noir);
    line-height: 165%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.article__list {
    list-style-type: '-   ';
    font-family: var(--linear);
    font-size: var(--s);
    line-height: 145%;
}

.article__item {
    margin: 10px 0;
}

.article__list--titre {
    display: inline;
    margin: 0 5px 0 0;
    font-family: var(--linear);
    font-size: var(--s);
    font-weight: normal;
    line-height: 145%;
    text-decoration: underline;
}

/* page à propos */
.propos__p1 {
    margin-bottom: 20px;
    line-height: 145%;
}

.propos__p2 {
    margin-bottom: 30px;
    line-height: 145%;
}

/* page autre projets */
.section__AutresProjets {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5  px;
}

.quote {
    margin-bottom: 30px;
    font-family: var(--linear);
    font-size: var(--s);
    line-height: 145%;
}

/* page glossaire */
.glossaire__item {
    margin-bottom: 40px;
}

/* page contact */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__1 {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 10px;
}

.contact__2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

#last-name {
    width: 9.5rem;
    height: 2rem;
    border: var(--noir) 1px solid;
    border-radius: 4px;
    background-color: var(--fond);
}

#first-name {
    width: 9.5rem;
    height: 2rem;
    border: var(--noir) 1px solid;
    border-radius: 4px;
    background-color: var(--fond);
}

#email {
    display: flex;
    justify-content: center;
    width: 20.625rem;
    height: 2rem;
    border: var(--noir) 1px solid;
    border-radius: 4px;
    background-color: var(--fond);
}

#message {
    display: flex;
    justify-content: center;
    width: 20.625rem;
    height: 12rem;
    border: var(--noir) 1px solid;
    border-radius: 4px;
    background-color: var(--fond);
}

.contact__btn {
    display: flex;
    justify-content: end;
    margin: 20px 20px 20px auto;
}

.contact__btn button {
    width: 120px;
    height: 40px;
    font-family: var(--linear);
    font-size: var(--s);
    color: #fff;
    background-color: var(--bleu-clair);
    border: none;
    border-radius: 4px;
}

.contact__text {
    font-family: var(--linear);
    font-size: var(--sl);
}


/* page article colisée */
.base {
    display: inline;
    align-items: left;
    gap: 20px;
}

.base__titre {
    display: block;
    margin-bottom: 10px;
}

.base__temps {
    display: flex;
}

.base__horloge {
    display: inline;
    align-items: left;
    margin: 10px;
    gap: 20px;
}

.base__minute {
    padding-left: 10px;
    border-left: 1px solid var(--noir);
}

.base__intro {
    font-family: var(--linear);
    font-style: medium;
    font-weight: bold;
    font-size: var(--s);
    margin-bottom: 40px;
}

.article__btn {
    display: inline;
    align-items: left;
    margin: 0 20px 0px 40px;
    padding: 3px 35px;
    border: 1px solid var(--noir);
    border-radius: 24px;
    background-color: var(--orange);
    font-family: var(--linear);
    font-size: var(--s);
    font-weight: bold;
    color: var(--noir);
    text-decoration: none;
}

.frise__btn {
    display: inline;
    align-items: left;
    margin-right: 40px;
    padding: 3px 35px;
    border: 1px solid var(--noir);
    border-radius: 24px;
    background-color: #D9D9D9;
    font-family: var(--linear);
    font-size: var(--s);
    font-weight: bold;
    color: var(--noir);
    text-decoration: none;
}

.article {
    margin: 40px 0;
}

.article__legende {
    color: rgb(87, 87, 87);
    font-size: var(--xs);
    margin: 5px 0 0 5px;
}

/* 
.article__img--album {
    display: inline;
    align-items: left;
}

.article__p--album {
    display: inline;
    align-items: right;
    margin: 10px;
    gap: 20px;
} */


.article__titre {
    margin-top: 40px;
}


.article__link {
    display: flex;
    justify-content: center;
}

.link__visit {
    font-family: var(--linear);
    font-size: var(--m);
    margin: 30px;
    text-decoration: underline 1px;
}

.link__livre {
    font-family: var(--linear);
    font-size: var(--s);
    color: var(--blanc);
    margin: 30px 20%;
    padding: 15px 0;
    border: var(--bleu-clair) 1px solid;
    background-color: var(--bleu-clair);
    border-radius: 50px;
}


/* page 404 */


/* display: grid;  */
/* grid-area: 1/1/7/3 */
/* faire plutot avec display flex et flex wrap (comme dans le tp BB brands)s */