img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img__article {
    display: block;
    margin: 0 auto;
}

.contact__img {
    max-width: 215px 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img__neron {
    display: block;
    width: 300px;
    height: auto;
}

.img__berserk--ref1 {
    display: inline;
    width: auto;
    height: 160px;
    margin: 0 5px;
}

.img__berserk--ref2 {
    display: inline;
    width: auto;
    height: 160px;
}

.img__album {
    display: inline;
    width: 150px;
    height: auto;
}

.img__RidleyScott {
    position: absolute;
    left: 20px;
    top: -15px;
    width: 100px;
    height: auto;
}

.article__video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

