:root {
    /* Color styles */
    --orange: rgba(255, 184, 88, 1);
    --bleu-clair: rgba(72, 88, 173, 1);
    --fond: rgba(255, 251, 246, 1);
    --bleu: rgba(35, 47, 62, 1);
    --bleu-foncé: rgba(19, 26, 34, 1);
    --blanc: rgba(255, 255, 255, 1);
    --noir: rgba(0, 0, 0, 1);


    /* Text-size styles */
    --l: 32px;
    --m: 20px;
    --s: 16px;
    --sl: 14px;
    --xs: 12px;

    --linear: 'IBM Plex Sans Condensed', linear;
}
