.footer {
    background-color: #232F3E;
    width: 100%;
    height: 350px;
}

.footer__name {}

.footer__quote {}

.footer__mailto {}

.footer__list {}

.footer__item {}

.footer__link {}

.footer__icn {}